<h1> All Workouts</h1>

<% Workout.all.each do |wkt| %>
<% if wkt.user %>
<a href="/workouts/<%= wkt.id %>"><%= wkt.user.username %> <%= wkt.workout %><% if wkt.date %> Date: <%= wkt.date.strftime("%b %d %Y") %> <%end %> <%= wkt.duration %> minutes </a> <br><br>
  <% end %>
  <% end %>

  <a href="/landing">Home Page</a>
  <a href="/logout">Log Out</a>
