<h1><%= @user.username %>'s Workout Diary</h1>

<h1>Workout Type:  <%= @workout.workout %>    </h4> <br>
<h4>Duration:  <%= @workout.duration %> minutes</h4> <br>
<h4>Comments:  <%= @workout.comment %>  </h2>


<form class="" action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" name="" value="Edit Workout">
</form>

<br4

<form class="" action="/workouts/<%= @workout.id %>/delete" method="post">
  <input type="hidden" id= "hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Workout">
</form>

<br>

<a href="/landing">Home Page</a>
<a href="/logout">Log Out</a>
