<h1><%= @user.username %>'s Workout Diary</h1>

<h1>Workout Type:  <%= @workout.workout %>    </h4> <br>

  <h4>Date: <%= @workout.date.strftime("%b %d, %Y") %></h4>
      <% if @workout.mileage %>
  <h4>Mileage: <%= @workout.mileage %></h4>
      <% end %>
        <% if @workout.duration %>
<h4>Duration:  <%= @workout.duration %> minutes</h4> <br>
  <% end %>
<h4>Comments:  <%= @workout.comment %>  </h2>


<form class="" action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" name="" value="Edit Workout">
</form>
<br>

<form class="" action="/workouts/<%= @workout.id %>/delete" method="post">
  <input type="hidden" id= "hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Workout">
</form>

<br>

<a href="/landing">Home Page</a>
<a href="/logout">Log Out</a>
