<h1><%= @user.username %>'s Workout</h1>

<h1>Workout Type:  <%= @workout.type %>    </h1> <br>
<h2>Duration:  <%= @workout.duration %> minutes</h2> <br>
<h2>Comments:  <%= @workout.comment %>  </h2>


<form class="" action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" name="" value="Edit Workout">
</form>

<form class="" action="/workouts/<%= @workout.id %>/delete" method="post">
  <input type="hidden" id= "hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Workout">
</form>
