<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Diary</title>
    <link rel="stylesheet"   href="<%= url("/css/master.css")%>"/>
  </head>
  <body>
    <div class="">


      <% if flash[:signup] %>
      <div class="signup"><%= flash[:signup] %></div>
      <% end %>

      <% if flash[:s_error] %>
      <div class="s_error"><%= flash[:s_error] %></div>
      <% end %>

      <% if flash[:l_error] %>
      <div class="l_error"><%= flash[:l_error] %></div>
      <% end %>

      <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
